.form-wrapper{
    margin-left: 35%;
    padding-top: 30px;
    padding-bottom: 50px;
    
}
.login{
    margin: auto;
}
.input-container{
    height: 100%;
    max-width: 40%;
    border: 1px solid rgb(241, 227, 227);
    padding: 25px;
    background-color: cornsilk;
}
.forgetpassword{
    float: right;
}
.forgetpassword a:hover{
   text-decoration: none;
}
.rememberme{
    padding-left: 10px;
}
.text{
    font-size: 15px;
}
.login-text{
    padding-top: 10px;
}
.form-group{
    padding-top: 10px;
}